<div id="div_cabeza" class="container" >
    
    <div id="div_cuerpo" style="float: right; width: 100%; background-color: rgb(240, 239, 239);">
<br>
<br>
        <h1 id="id_reserva">¡EDITA TU RESERVA!</h1>
        <br>
        <br>
<br>
        
        <br>
        <br>
        <div id="div_right" style="margin: auto;">
            <div class="input-group" style="text-align: center; margin: 0 auto;">
            <div id="div_calendario" style="margin: auto;" class="input-group-prepend">
                <label for="inicio" class="input-group-text">Fecha de llegada</label>
                <input type="date" id="inicio" value="today" class="form-control">
                <label for="salida" class="input-group-text">Fecha de Salida</label>
                <input type="date" id="salida" class="form-control">

            </div>
        </div>
            <br>
            <label class="lead" for="" style="margin-bottom: 1em;"><b>¿Cuantos nos acompañan?</b> </label>
            <br>
            <div style="margin: auto;" class="input-group">
                <table class="input-group-prepend" style="margin: 0 auto;">
                
                    <td><label class="input-group-text" for="">Adultos</label>  <input class="form-control" type="number" min="0" step="1" value="0" style="margin: 1em; width: 5em;"></td>
                    <td><label class="input-group-text"  for="">Niños</label>  <input class="form-control" type="number" min="0" step="1" value="0" style="width: 5em;"></td>
                </table>
            </div>
        </div>
        <div id="div_btn">
            <button class="btn btn-outline-light" id="btn_cancelar">CANCELAR</button>
            <button class="btn btn-outline-light" id="btn_actualizar">ACTUALIZAR</button>
        </div>
    </div>
</div>