<p>Registro works!</p>
<h1 class="registrar-titulo">Formulario de registro</h1>

<form action="" action="post" class="register" name="formulario_registro" [formGroup]="datosformulario">

    <div class="register-switch">
     <input type="radio" formControlName="sexo_usuario" name="sexo_usuario" id="sex_f" value="f" class="register-switch-input" enable>
       <label for="sex_f" class="register-switch-label">Femenino</label>

       <input type="radio" formControlName="sexo_usuario" name="sexo_usuario" id="sex_m" value="m" class="register-switch-input">
       <label for="sex_m" class="register-switch-label">Masculino</label>
    </div>

    <input type="number" value="cedula" class="register-input" formControlName="cedula" name="cedula" placeholder="Cedula">
    <div class="mensaje">{{retorno1}}</div>
    <input type="text" value="" class="register-input" formControlName="nombre" name="nombre" placeholder="Nombre">
    <div class="mensaje">{{retorno_nombre}}</div>
    <input type="text" value="" class="register-input" formControlName="username" name="username" placeholder="Username">
    
    <input type="email" value="" class="register-input" formControlName="email" name="email" placeholder="Email">

    <input type="password" value="" class="register-input" formControlName="contrasena" name="contrasena" placeholder="password">

    <button (click)="recibir_datos()"  class="register-button" >Registrar</button>



</form>
