<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div id="usuario"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra" aria-controls="barra" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra">
            <ul class="navbar-nav" >
                <li class="nav-item">
                    <button class="btn btn-outline-info" id="upload" name="upload" routerLink="/Login"><span class='fas fa-sign-in-alt'></span> LogIn</button>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <button class="btn btn-outline-info" id="editar" name="editar" routerLink="/Registrar"><span class='fa fa-user'></span> Registro</button>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <button class="btn btn-outline-info" id="inicio" name="inicio"><span class='fa fa-home'></span> Home</button>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <button class="btn btn-primary" id="login" name="login"> Cerrar Sesión</button>
                </li>
            </ul>
        </div>
    </div>
</nav>