<div id="div_cabeza" >
    <!-- <div id="div_encabezado" style="float: left; width: 20%; align-content: left; height: 100%;">
        <button (click)="changeMonth(1)" class="btn-reservas">Realizar Reserva</button>
        <br>
        <br>
        <button (click)="changeMonth(1)" class="btn-ini">Login / Iniciar sesión</button>
        <br>
        <br>
        <br>
        <button (click)="changeMonth(1)" class="btn-home">HOME</button>
        <br>
        <br>
        <br>
        <button (click)="changeMonth(1)" class="btn-res-rea">Reservas Realizadas</button>
        <br>
        <br>
        <br>
        <button (click)="changeMonth(1)" class="btn-auto">AutoCheck In</button>
        <br>
        <br>
        <br>
        <button (click)="changeMonth(1)" class="btn-registro">Registro</button>
    
    </div>
    <br> -->
    <div id="div_cuerpo" style="float: right; width: 100%; background-color: white;">
        <br>
        <br>
        <h1 id="id_reserva">TUS RESERVAS</h1>
        <br>
        <br>
        <br>
        <div id="div_left">

            <div class="table-striped">
                <table id="tusreservas">
                    <tr style="padding: 1em;"> 
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Numero de Personas</th>
                        <th>Habitacion</th>
                        <th></th>
                    </tr>


                </table>

            </div>

        </div>
        <br>
        <br>


        <div id="div_btn">
            <button class="btn btn-outline-light" id="btn_volver" [routerLink]="['']">VOLVER</button>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>