
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Natural Hostel</h3>
        </div>

        <ul class="list-unstyled components">
        
            <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/Registro">Registro</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/Login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/Reserva">Reserva</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/ConsultarReserva">Consultar Reserva</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/Checking">Checking</a></li>         
            <li class="nav-item"><a class="nav-link" routerLink="/Contacto">Contacto</a></li>
          
    