#btn_cancelar{
    background-color: #0D6EFD;
    padding: 1em;
    border-color: 0;
    margin: 3em;
    

}

input{
    margin: 0.5em;
}

#div_encabezado{
    margin-top: 10em;

}

#div_right{
    width: 100%; 
    text-align: center;
}



#btn_siguiente{
    background-color: #0D6EFD;
    text-align: center;
    padding: 1em;
    margin: 3em;

}
#div_btn{
    padding: 5em;
    text-align: center;

}
.titulo-registrar {
    margin-top: 5em;
    padding: 1em;
    text-align: center;
    width: 70%;
    margin-bottom: 5em;
    margin: auto;

}
.btn-ini{
    background-color: white;
    border: 2px solid black;
    padding: 0.5em;

}
.btn-home{
    background-color: white;
    border: 2px solid black;
    padding: 2em;

}
.btn-reservas{
    background-color: white;
    border: 2px solid black;
    padding: 0.5em;

}
.btn-res-rea{
    background-color: white;
    border: 2px solid black;
    padding: 0.5em;
}
.btn-auto{
    background-color: white;
    border: 2px solid black;
    padding: 0.5em;
}
.btn-registro{
    background-color: white;
    border: 2px solid black;
    padding: 0.5em;
}

#div_cabeza{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
td
{
    padding:0em 2em 0 2em;
}
tr{
    padding: auto;

}
h1{
    text-align: center;
}

.id_recerva{
    padding-top: 20em;
}

.div_cuerpo{
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}
#div_left{
    margin: auto;
    
}

.div_1 {
    align-content: center;
    border: 2px solid black;
    text-align: center;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.header-calendar{
    width: 50%;
    border: black;
    border-radius: 0.5em;
    text-align: center;
    margin: auto;
    

}
  
  ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
    border: 2px solid black;
  }
  
  li {
    font-size: 1.5ch;
  }
  
  h2 {
    margin-bottom: 4px;
    padding: 0;
  }
  
  .first-day {
    grid-column-start: var(--first-day-start, 0);
  }
  
  .day-name {
    background: #eee;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
    border: black;
  }